@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EstudianteViewModel




<h1>Registro de Estudiantes</h1>

@if (TempData["Mensaje"] != null)
{
	<div class="alert alert-success">@TempData["Mensaje"]</div>
}

<form class="form-control" asp-action="Registrar" asp-controller="Estudiantes" method="post">
    <div>
        <label class="form-label" asp-for="nombre_estudiante">Nombre Completo</label>
        <input class="form-control" asp-for="nombre_estudiante" />
        <span asp-validation-for="nombre_estudiante" class="text-danger"></span>
    </div>

    <div>
        <label class="form-label" asp-for="matricula_estudiante"></label>
        <input class="form-control" asp-for="matricula_estudiante" />
        <span asp-validation-for="matricula_estudiante" class="text-danger"></span>
    </div>

    <div>
        <label class="form-label" asp-for="carrera_estudiante"></label>
        <select class="form-select" asp-for="carrera_estudiante" asp-items="@(new SelectList (
                                                                                                             new[] { "Ingeniería de Software",
                                                                                                                     "Contabilidad",
                                                                                                                     "Enfermería",
                                                                                                                     "Odontología",
                                                                                                                     "Derecho" }
                                                                                                                      ))">
            <option value="">-- Seleccione una carrera --</option>
        </select>
        <span asp-validation-for="carrera_estudiante" class="text-danger"></span>
    </div>

    <div>
        <label class="form-label" asp-for="correo_estudiante">Correo Institucional</label>
        <input class="form-control" asp-for="correo_estudiante" type="email" />
        <span asp-validation-for="correo_estudiante" class="text-danger"></span>
    </div>

    <div>
        <label class="form-label" asp-for="telefono_estudiante"></label>
        <input class="form-control" asp-for="telefono_estudiante" />
        <span asp-validation-for="telefono_estudiante" class="text-danger"></span>
    </div>

    <div>
        <label class="form-label" asp-for="fecha_nacimiento">Fecha Nacimiento</label>
        <input class="form-control" asp-for="fecha_nacimiento" type="date" />
        <span asp-validation-for="fecha_nacimiento" class="text-danger"></span>
    </div>

    <div>
        <label class="form-label">Género:</label><br />
        <input asp-for="genero_estudiante" type="radio" value="Masculino" /> Masculino
        <input asp-for="genero_estudiante" type="radio" value="Femenino" /> Femenino
        @* <input  asp-for="Genero" type="radio" value="Otro" /> Otro *@
        <span asp-validation-for="genero_estudiante" class="text-danger"></span>
    </div>

    <div>
        <label class="form-label" asp-for="turno"></label>
        <select class="form-select" asp-for="turno" asp-items="@(new SelectList(
                                                                                                         new[] { "Mañana",
                                                                                                                 "Tarde",
                                                                                                                 "Noche" }
                                                                                                                 ))">
            <option value="">-- Seleccione turno --</option>
        </select>
        <span asp-validation-for="turno" class="text-danger"></span>
    </div>

    <div>
        <label class="form-label" asp-for="tipo_ingreso">Tipo de Ingreso</label>
        <select class="form-select" asp-for="tipo_ingreso" asp-items="@(new SelectList(
                                                                                                                     new[] { "Nuevo Ingreso",
                                                                                                                             "Reingreso",
                                                                                                                             "Transferencia" }
                                                                                                                             ))">
            <option value="">-- Seleccione tipo de ingreso --</option>
        </select>
        <span asp-validation-for="tipo_ingreso" class="text-danger"></span>
    </div>

    <div>
        <label class="form-label" asp-for="becado">¿Esta Becado?</label>
        <input class="form-check-input" asp-for="becado" type="checkbox" />
    </div>

    <div>
        <label class="form-label" asp-for="porcentaje_beca">Porcentaje de su Beca</label>
        <input class="form-control" asp-for="porcentaje_beca" type="number" min="0" max="100" />
        <span asp-validation-for="porcentaje_beca" class="text-danger"></span>
    </div>

    <div class="form-check">
        <input class="form-control" type="hidden" asp-for="terminos_condiciones" value="true" />
        <input class="form-check-input" type="checkbox" asp-for="terminos_condiciones" value="true" />
        <label class="form-check-label" asp-for="terminos_condiciones">Acepto los términos y condiciones</label>
        <span asp-validation-for="terminos_condiciones" class="text-danger"></span>


    </div>

    <div>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
