@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EstudianteViewModel




<h1>Registro de Estudiantes</h1>

@if (TempData["Mensaje"] != null)
{
	<div class="alert alert-success">@TempData["Mensaje"]</div>
}

<form asp-action="Registrar" method="post">
	<div>
		<label asp-for="nombre_estudiante"></label>
		<input asp-for="nombre_estudiante" class="form-control" />
		<span asp-validation-for="nombre_estudiante" class="text-danger"></span>
	</div>


	<div>
		<label asp-for="matricula_estudiante"></label>
		<input asp-for="matricula_estudiante" class="form-control" />
		<span asp-validation-for="matricula_estudiante" class="text-danger"></span>
	</div>


	<div>
		<label asp-for="carrera_estudiante"></label>
		<select asp-for="carrera_estudiante" asp-items="Model.carreras" class="form-control"></select>
		<span asp-validation-for="carrera_estudiante" class="text-danger"></span>
	</div>


	<div>
		<label asp-for="correo_estudiante"></label>
		<input asp-for="correo_estudiante" class="form-control" />
		<span asp-validation-for="correo_estudiante" class="text-danger"></span>
	</div>


	<div>
		<label asp-for="telefono_estudiante"></label>
		<input asp-for="telefono_estudiante" class="form-control" />
		<span asp-validation-for="telefono_estudiante" class="text-danger"></span>
	</div>


	<div>
		<label asp-for="fecha_nacimiento"></label>
		<input asp-for="fecha_nacimiento" type="date" class="form-control" />
		<span asp-validation-for="fecha_nacimiento" class="text-danger"></span>
	</div>


	<div>
		<label asp-for="genero_estudiante"></label>
		<br />
		<input type="radio" asp-for="genero_estudiante" value="Masculino" /> Masculino
		<input type="radio" asp-for="genero_estudiante" value="Femenino" /> Femenino
	</div>


	<div>
		<label asp-for="turno"></label>
		<select asp-for="turno" asp-items="Model.turnos" class="form-control"></select>
		<span asp-validation-for="turno" class="text-danger"></span>
	</div>


	<div>
		<label asp-for="tipo_ingreso"></label>
		<select asp-for="tipo_ingreso" asp-items="Model.ingreso" class="form-control"></select>
		<span asp-validation-for="tipo_ingreso" class="text-danger"></span>
	</div>


	<div>
		<label asp-for="becado"></label>
		<input type="checkbox" asp-for="becado" />
		<span asp-validation-for="becado" class="text-danger"></span>
	</div>


	<div>
		<label asp-for="porcentaje_beca"></label>
		<input asp-for="porcentaje_beca" class="form-control" />
		<span asp-validation-for="porcentaje_beca" class="text-danger"></span>
	</div>


	<div>
		<div class="form-check"></div>
		<label asp-for="terminos_condiciones"></label>
		<input type="checkbox" asp-for="terminos_condiciones" />
		<span asp-validation-for="terminos_condiciones"></span>
	</div>


	<div class="row">
		<div class="col-6">
			<br />
			<button type="submit" class="btn btn-primary" size="30px">Registrar</button>
			<button a href="/Estudiantes/Lista" class="btn btn-secondary" size="30px">Estudiantes</button>
		</div>
	</div>


</form>